%section.section
  .section-heading
    %h3.title.is-3 #{t('edit_registration.title')}
    %h4.subtitle.is-5 #{t('edit_registration.subtitle')}
  .container.has-text-centered
    .columns.is-mobile.is-centered
      .column.is-half
        .card
          .card-content
            .content
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                = devise_error_messages!
                .field
                  = f.email_field :email, autofocus: true, class: 'input', placeholder: User.human_attribute_name(:email)
                = content_tag(:div, t('edit_registration.warning', email: resource.unconfirmed_email), class: 'field') if devise_mapping.confirmable? && resource.pending_reconfirmation?
                .field
                  = f.password_field :password, class: 'input', placeholder: User.human_attribute_name(:password_leave_blank), value: ''
                .field
                  = f.password_field :password_confirmation, class: 'input', placeholder: User.human_attribute_name(:password_confirmation), value: ''
                .field
                  = f.password_field :current_password, class: 'input', placeholder: User.human_attribute_name(:current_password), value: ''
                .actions
                  = f.submit t('edit_registration.button'), class: 'button is-fullwidth is-link'
          %footer.card-footer
            = render "devise/shared/links"