%section.section
  .section-heading
    %h3.title.is-3 #{t('sign_up.title')}
    %h4.subtitle.is-5 #{t('sign_up.subtitle')}
  .container.has-text-centered
    .columns.is-mobile.is-centered
      .column.is-half
        .card
          .card-content
            .content
              = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                = devise_error_messages!
                .field
                  = f.email_field :email, autofocus: true, class: 'input', placeholder: User.human_attribute_name(:email), value: ''
                .field
                  = f.password_field :password, class: 'input', placeholder: User.human_attribute_name(:password), value: ''
                .field
                  = f.password_field :password_confirmation, class: 'input', placeholder: User.human_attribute_name(:password_confirmation), value: ''
                .actions
                  = f.submit t('sign_up.button'), class: 'button is-fullwidth is-link'
          %footer.card-footer
            = render "devise/shared/links"