%section.section
  .section-heading
    %h3.title.is-3 #{t('forgot_password.title')}
    %h4.subtitle.is-5 #{t('forgot_password.subtitle')}
  .columns.is-mobile.is-centered
    .column.is-half
      .card
        .card-content
          .content
            = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
              = devise_error_messages!
              .field
                = f.email_field :email, autofocus: true, class: 'input', placeholder: User.human_attribute_name(:email), value: ''
              .actions
                = f.submit t('forgot_password.button'), class: 'button is-fullwidth is-link'
        %footer.card-footer
          = render "devise/shared/links"