%section.section
  .section-heading
    %h3.title.is-3 #{t('videos.form.title')}
    %h4.subtitle.is-5 #{t('videos.form.subtitle', videos_count: 1)}
  .container.has-text-centered
    .columns.is-mobile.is-centered
      .column.is-half
        .card
          .card-content
            .content
              = form_for @video do |f|
                - if @video.errors.any?
                  %ul
                    - @video.errors.full_messages.each do |message|
                      %li= message
                .field
                  = f.text_field :name, class: 'input', placeholder: Video.human_attribute_name(:name)
                .field
                  = f.text_field :url, class: 'input', placeholder: Video.human_attribute_name(:url)
                - if !@video.new_record? && !@video.url.blank?
                  .is-centered
                    %video#example-video.video-js.vjs-default-skin{controls: "", width: 300}
                      %source{src: "#{@video.url}", type: "application/x-mpegURL"}
                  :javascript
                    var player = videojs('example-video');
                .actions
                  = f.submit t('form.save'), class: 'button is-fullwidth is-link'
          %footer.card-footer
            = link_to t('form.back_to_list'), videos_path, class: 'card-footer-item'