%tr{title: "#{video.name}"}
  %td= truncate(video.name, length: 15)
  %td #{truncate(video.url)}
  %td #{l(video.created_at, format: :short)}
  %td #{l(video.updated_at, format: :short)}
  %td
    .buttons.has-addons
      = link_to t('admin.actions.edit.menu'), edit_video_path(video), class: 'button is-small is-info'
      = link_to t('admin.actions.delete.menu'), video, method: :delete, class: 'button is-small is-danger'