%section.section
  .section-heading
    %h3.title.is-3 #{t('videos.index.title')}
    %h4.subtitle.is-5 #{t('videos.index.subtitle', videos_count: current_user.videos.count)}
  .container.has-text-centered
    %table.table.is-striped.is-hoverable.is-fullwidth
      %thead
        %tr
          %th
            %abbr{title: Video.human_attribute_name(:name)} #{Video.human_attribute_name(:name)}
          %th
            %abbr{title: Video.human_attribute_name(:url)} #{Video.human_attribute_name(:url)}
          %th
            %abbr{title: Video.human_attribute_name(:created_at)} #{Video.human_attribute_name(:created_at)}
          %th
            %abbr{title: Video.human_attribute_name(:updated_at)} #{Video.human_attribute_name(:updated_at)}
      %tbody
        - current_user.videos.each do |video|
          = render 'video', video: video