%section.section
  .columns.is-mobile.is-centered
    .column.is-half
      .card
        %header.card-header
          %h3.title.is-3.card-header-title.is-centered
            = t('home.title')
        .card-content
          .content
            %p.subtitle
              = t('home.description', videos_count: Video.count)
        %footer.card-footer
          = link_to t('header_links.new_video'), new_video_url, class: 'card-footer-item'