%section.section
  .section-heading
    %h3.title.is-3 #{t('sign_in.title')}
    %h4.subtitle.is-5 #{t('sign_in.subtitle')}
  .columns.is-mobile.is-centered
    .column.is-half
      .card
        .card-content
          .content
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .field
                = f.email_field :email, autofocus: true, class: 'input', placeholder: User.human_attribute_name(:email), value: ''
              .field
                = f.password_field :password, class: 'input', placeholder: User.human_attribute_name(:password), value: ''
              - if devise_mapping.rememberable?
                .field
                  = f.check_box :remember_me
                  = f.label :remember_me
              .actions
                = f.submit t('sign_in.button'), class: 'button is-fullwidth is-link'
        %footer.card-footer
          = render "devise/shared/links"