.has-same-height .card
  height: 320px
  overflow: hidden

.card-content h3
  text-align: center

.table-profile td, th
  border: none !important

.table-profile td:first-of-type
  font-weight: bold

.skills-content
  .media
    margin: 0 !important
    padding: 4px !important
    border: 0 !important
  .progress
    height: 4px !important

.custom-tags
  text-align: center !important
  display: block

.portfolio-container .card
  margin-bottom: 2em

.section-heading
  text-align: center
  margin-top: 1em
  margin-bottom: 3em

.textarea
  min-height: 88px !important

.footer
  padding-bottom: 3rem !important

.grab
  cursor: -webkit-grab
  cursor: grab

.accordion-header .toggle::before
  top: 2px !important