%footer.hero-footer
  .columns.is-centered
    .column.is-half
      %nav.tabs
        .container
          %ul
            %li
              = link_to t('footer_links.advertising'), '#'
            %li
              = link_to t('footer_links.business'), '#'
            %li
              = link_to t('footer_links.about_is'), '#'
    .column.is-half
      %nav.tabs
        .container
          %ul
            %li
              = link_to t('footer_links.privacy'), '#'
            %li
              = link_to t('footer_links.terms'), '#'
            %li
              = link_to t('footer_links.definitions'), '#'