%section.hero.is-warning.is-primary.is-primary-with-navbar
  .hero-body
    .container
      %h1.title.is-1
        %i.fa.fa-video
        #{t(:application_name)}
      - if user_signed_in?
        %h3.subtitle.is-4
          #{t(:application_description)}