%nav.navbar.is-warning.is-fixed-top
  .navbar-brand
    .navbar-burger.burger{"data-target" => "navbar-transparent"}
      %span
      %span
      %span
  #navbar-transparent.navbar-menu
    .navbar-end
      - if user_signed_in?
        = link_to t('header_links.new_video'), new_video_path, class: 'navbar-item'
        = link_to t('header_links.videos'), videos_path, class: 'navbar-item'
        = link_to t('header_links.edit_user_registration'), edit_user_registration_path, class: 'navbar-item'
        = link_to t('header_links.destroy_user_session'), destroy_user_session_path, method: :delete, class: 'navbar-item'
      - else
        = link_to t('header_links.new_user_session'), new_user_session_path, class: 'navbar-item'
        = link_to t('header_links.new_user_registration'), new_user_registration_path, class: 'navbar-item'